@charset "UTF-8";
*{
  box-sizing: border-box;
}

.container{
  width: 640px;
  height: 380px;
}
.video{
  width: 100%;
}
.controls{
  width: 100%;
  height: 100%;
  background-color: red;
  text-align: center;
}
.second-container{
  width: 100%;
  height: 380px; /*bug aqui*/
  

}
.second-container:hover{
  background-color: blue;
  
}
.btn{
  padding: 10px;
  margin: 10px 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%) scale(2);
  cursor: pointer;
  opacity: 0;
  background-color: #00000044;
  border-radius: 50%;
  transition: 1000ms ease all;
  color: white;
}
.btn:hover{
  opacity: 1;
  
}
.bg{
  width: 100%;
  height: 100%;
  background-color: black;
}

