@charset "UTF-8";

:root{
  --color0:#3bb9ce;
  --color1:#1e2020;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:Arial, Helvetica, sans-serif;
}
.container{
  max-width: 1000px;
  margin: auto;
}

.header{
  background-color: var(--color0);
  color: white;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
.header-title{
  font-size: 26px;
}


section{
  background-image: url("../media/people.jpg");
  padding: 20px;
  background-size: cover;
  overflow: hidden;

}
.capture{
  background-color: rgba(255, 255, 255, 0.651);
  max-width: 270px;
  padding: 20px;
  float: right;
  
}
.capture-title{
  font-size: 16px;

}
.mb{
  margin: 0 0 15px 0;
}
.form-input{
  width: 100%;
  padding: 10px;
  border: none;
  margin: 0 0 10px 0;
  border-radius: 6px;
  outline: none;
  
}
.form-input:focus{
  outline: 2px solid var(--color0);

}


.form-submit{
  background-color: var(--color0);
  color: white;
  font-weight: bold;
  transition: 0.3s all ease 0s;
}
.form-submit:hover{
  background-color: var(--color1);
}

.form-select{
  appearance: none;
  background-image: url("../media/arrow.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-position-x: 97%;
  
}

.speaker{
  background-color: #151616;
  
}

.speaker-image{
  display: inline-block;
}
.spk-img{
  width: 160px;

}
.speaker-text{
  display: inline-block;
  color: white;
  max-width: 40%;
  margin: 0 0 0 40px;
  
}
.speaker-container{
  text-align: center;
  padding: 40px ;
}
.ftr-adj{
  margin: 0 0 20px 0;
  text-align: left;

}


/*Mobile*/
@media screen and (max-width:667px) {
  .header{
    font-size: 0.6em;
  }
  .image{
    width: 100%;
   
  }
  .capture{
  left: 25%;

  }
  

}
